@model MeetingRoomBookingSystem.Models.ReservationViewModel
@{
    Layout = null;
}

<h2>Edit</h2>

<div class="container">

        @using (Html.BeginForm("Edit", "Reservation", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Description, new { type = "text" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="submit" value="OK" class="btn btn-success" />
                </div>
            </div>
        }
</div>
